
<body style="background-color: #3d3c3a;">
<div class="container mt-5" style="background-color:">
    <h4 class="text-center mb-4">Hoş Geldiniz, Lezzetin Adresi: Dur Restorant</h4>
    <p>
        Et Şöleni Restoranı, eşsiz lezzetleri ve şık atmosferi ile damaklarınıza unutulmaz bir deneyim sunuyor.
        Kaliteli ve taze et ürünleri, deneyimli şeflerimizin elinden çıkarak sofranıza geliyor.
    </p>
    <p>
        Menümüzdeki çeşitli et yemekleri, özenle seçilmiş malzemelerle hazırlanırken, her bir detay lezzetin zirvesine ulaşmak için düşünülmüştür.
        Etin eşsiz tadını keşfetmek isteyen misafirlerimizi, Et Şöleni Restoranı'na bekliyoruz.
    </p>
    <p>
        Şık tasarımımız, sıcak atmosferimiz ve profesyonel servis ekibimizle birlikte, size unutulmaz bir yemek deneyimi yaşatmak için buradayız.
        Rezervasyon yaptırmadan önce menümüzü gözden geçirmeyi ve özel günlerinizde bizimle birlikte olmayı unutmayın.
    </p>
   
</div>

</body>