@using FrontEndHomePage.ViewModel
@using Shared.Events
@using Shared.Message

@{
    Layout = null;
  
   
};
@model List<BasketVM>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.2/dist/bootstrap-table.min.css">
    <title>Web Sitesi</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px;
        }

        nav {
            background-color: #eee;
            padding: 10px;
        }

            nav a {
                margin: 0 10px;
                text-decoration: none;
                color: #333;
            }

        section {
            padding: 20px;
        }

        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 10px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

    </style>
</head>
<body>

    <header>
        <h1>SEPET</h1>
    </header>

    <nav>
        <a asp-action="Index" asp-controller="Home">Home</a>
        
    </nav>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Porsiyon</th>
                <th>Fiyat</th>
                <th>Kategori</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>1 Porsiyon</td>
                    <td>@item.Price $</td>

                    <td>@item.Category</td>

                </tr>
            }
        </tbody>
        <tfoot>
            @{
                int total = 0;
                foreach (var item in Model)
                {
                    total = int.Parse(item.TotalPrice);
                }
            }
            <tr>
                <td>Toplam Fiyat</td>
                <td style="color:red">@total $</td>
            </tr>
            <tr>
                <td>
                    <a asp-action="Index" asp-controller="Home">
                        <button type="button">Tüm Siparişleri Onayla</button>
                    </a>
                </td>
            </tr>
        </tfoot>
    </table>
 


    <footer>
        <p>Dur Restorant Sepetim</p>
    </footer>

</body>
</html>



